<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
     <setting name="cacheEnabled" value="false"/>
     <setting name="lazyLoadingEnabled" value="false"/>
     <setting name="multipleResultSetsEnabled" value="false"/>
     <setting name="useColumnLabel" value="true"/>
     <setting name="useGeneratedKeys" value="false"/>
     <setting name="defaultExecutorType" value="SIMPLE"/>
     <setting name="defaultStatementTimeout" value="300"/>
     <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>

   <typeAliases>
     <typeAlias alias="Customer" type="com.rohila.api.mybatis.domain.Customer"/>
     <package name="com.rohila.api.mybatis.dto">
   </typeAliases>

   <mappers>
     <mapper resource="com/rohila/api/mybatis/mapper/CustomerMapper.xml"/>
   </mappers>
</configuration>
